[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
	ignore = dirty
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://git.wincent.com/command-t.git
	ignore = dirty
[submodule "bundle/vim-git-pair"]
	path = bundle/vim-git-pair
	url = https://github.com/Peeja/vim-git-pair.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
	ignore = dirty
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "bundle/vim-irblack"]
	path = bundle/vim-irblack
	url = https://github.com/wgibbs/vim-irblack.git
	ignore = dirty
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "bundle/tmux-config"]
	path = bundle/tmux-config
	url = https://github.com/pivotal/tmux-config.git
[submodule "bundle/vim-tomorrow-theme"]
	path = bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
